.button_download {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	border: 1px solid #74b807;
	display: block;
	color:#fff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding: 6px 64px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
	margin-bottom: 10px;
	height: 38px;
}
.button_download:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
.button_download:active {
	position:relative;
	top:1px;
}

.android, .android:hover {
	background-position: left;
	background-image: url("../img/android.jpg");
	background-repeat: no-repeat;
	background-color:#c0c0c0;
	border: 1px solid #c0c0c0;
}

.windows, .windows:hover {
	background-position: left;
	background-image: url("../img/windows.jpg");
	background-repeat: no-repeat;
}