<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" wicket:id="linkAbout"><img
				src="res/img/icon.png" style="width: 26px; margin-right: 10px;">
			<wicket:message key="res.appTitle">
				</wicket:message></a>
			<ul class="nav navbar-nav">
				<li wicket:id="menuItem"><a wicket:id="Link"><span
						wicket:id="Text"></span></a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" aria-expanded="false"><wicket:message
							key="menu.download" /> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a
							href="https://play.google.com/store/apps/details?id=org.bosik.diacomp.android"
							target="_blank"><wicket:message key="label.download.android" /></a></li>
						<li><a href="api/windows/file/compensation_setup.exe"><wicket:message
									key="label.download.windows" /></a></li>
					</ul></li>
			</ul>
		</div>
		<div wicket:id="infoLogin" class="login">
			<div style="margin-top: 5px;">
				<i class="glyphicon glyphicon-user"></i> <span
					wicket:id="infoLoginUserName"
					style="margin-top: 4px; margin-right: 10px;"></span>
			</div>
			<div style="margin-right: 10px;">
				<a wicket:id="linkLogout" href="j_spring_security_logout"><wicket:message
						key="link.logout"></wicket:message></a>
			</div>
		</div>
	</div>
</wicket:panel>
</html>