<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
	<div class="rec blood">
		<div wicket:id="time" class="time hoverable"></div>
		<img wicket:id="icon" class="diary-icon"></img>
		<div class="item">
			<table cellpadding="0">
				<tr>
					<td class="col_item">
						<span wicket:id="value" class="hoverable"></span>
					</td>
					<td class="col_info">
						<div wicket:id="finger"></div>
					</td>
					<td class="col_delete">
						<div id="delete">X</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</wicket:panel>
</html>