<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<wicket:head>
	<style>
</style>
</wicket:head>
</head>
<body>
	<wicket:panel>
		<div wicket:id="tableContainer">
			<table cellspacing="0" class="full_width">
				<tr wicket:id="view">
					<td>
						<div wicket:id="food"></div>
					</td>
				</tr>
			</table>
		</div>
		<div wicket:id="picker"></div>
		<a wicket:id="debug" style="display: none">Debug</a>
	</wicket:panel>
</body>
</html>