<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
	<wicket:panel>
		<div class="header">
			<a wicket:id="linkHome">
				<div class="title">
					<img class="icon" src="res/img/icon.jpg"
						wicket:message="title:link.home.hint">
					<wicket:message key="app.title">
					</wicket:message>
				</div>
			</a>
			<div class="login hint">
				<div wicket:id="infoLogin"></div>
				<a wicket:id="linkLogout" href="j_spring_security_logout"><wicket:message key="link.logout"></wicket:message></a>
			</div>
		</div>
	</wicket:panel>
</html>