/* =========================== MAIN STYLES =========================== */
body {
	/*background: #f0f0f0;*/
	font-family: "Arial";
	font-size: 16px;
	margin: 0;
}

hr {
	background-color: #cccccc;
	height: 1px;
	border: 0;
}

.main {
	min-width: 750px;
	max-width: 1200px;
	background: #ffffff;
	margin: 0 auto;
}

.header {
	margin-top: 8px;
	padding-bottom: 10px;
	overflow: hidden;
	/*background: #0f0;*/
}

.header a {
	text-decoration: none;
}

.header a:visited {
	color: #000000;
}

.icon {
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	width: 32px;
	float: left;
	border: none;
}

.title {
	font-size: 120%;
	font-weight: bold;
	float: left;
	/*padding-top: 5px;*/
	/*text-align: middle;*/
	line-height: 32px;
}

.title,.title a:link,.title a:visited {
	color: #000;
}

.login,.login a:link,.login a:visited {
	float: right;
	text-align: right;
	/*vertical-align: middle;*/
	/*background: #ff00ff;*/
	/*margin-top: 5px;*/
}

th {
	text-align: left;
}

#error_nojs {
	width: 22em;
	position: absolute;
	left: 11em;
	top: 200px;
	color: #f00;
	background-color: #fff;
	border: 5px solid #f00;
	padding: 20px;
	font-family: sans-serif;
	text-align: center;
}

/* =========================== COMMON STYLES =========================== */
.hint {
	font-size: 90%;
}

.hint,.hint a:link,.hint a:visited {
	color: #cccccc;
}

.hint a:hover {
	color: #000000;
}

.hint a:link,.hint a:visited,.hint a:hover {
	text-decoration: underline;
}

.full_width {
	width: 100%;
	font-size: 100%;
}

.right {
	text-align: right;
}

.wrapper_table {
	display: table;
	width: 100%;
}

.wrapper_cell {
	display: table-cell;
	width: 100%;
	/*padding: 0px 1px;*/
}

.hoverable:hover {
	/*border: solid 1px #000;*/
	/*color: #0000CC;*/
	/*background: #FFFF00;*/
	text-decoration: underline;
	cursor: pointer;
}

.hoverableRow:hover {
	outline: thin solid #e0e0e0;
	/*color: #0000CC;*/
	background: #f0f0f0;
	cursor: pointer;
}

.btn,.btn-positive,.btn-negative {
	cursor: pointer;
	padding: 4px;
	min-width: 110px;
	font-size: 100%;
	border: solid 1px #ccc;
	background-color: #e0e0e0;
	background-repeat: no-repeat;
	background-position: center center;
	transition: background-color 80ms ease-in-out;
}

.btn:hover {
	background-color: #ccc;
}

.btn-positive:hover {
	background-color: #bdb;
}

.btn-negative:hover {
	background-color: #dbb;
}

.input-light {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: solid 1px #eee;
	background-color: rgba(255, 255, 255, 0.2);
}

/* =========================== MENU STYLES =========================== */
.menu {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
}

.menu a:link,.menu a:visited,.menu a:active {
	text-decoration: none;
	color: #000000;
}

.menu_item {
	padding: 10px;
	margin: 0px -2px 0px;
	text-align: center;
	width: 100px;
	display: inline-block;
	cursor: pointer;
}

.menu_selected {
	font-weight: bold;
	background: #e0e0e0;
}

.menu_option:hover {
	background: #f0f0f0;
}

#sticky {
	position: fixed;
	background: #fff;
	min-width: 750px;
	max-width: 1200px;
	width: 100%;
	z-index: 999;
}

#pageContent {
	padding: 110px 0 0 0;
}

/* =========================== AUTH / REG =========================== */
.login_panel {
	max-width: 200px;
	/*background: #f0f0f0;*/
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	/*float: left;*/
	font-size: 100%;
}

.error_login {
	font-weight: bold;
	padding: 5px;
	margin: 10px 0 10px;
	background: #ffcfcf;
	text-align: center;
}

.reg_success {
	font-weight: bold;
	padding: 5px;
	margin: 10px 0 10px;
	background: #cfffcf;
	text-align: center;
}

/* =========================== DIARY STYLES =========================== */
#diary-workspace {
	margin-left: 250px;
	margin-right: 300px;
	/*margin-bottom: 270px;*/
}

#diary-footer {
	/*border-top: solid 2px #cfcfcf;*/
	position: fixed;
	top: 100px;
	/* margin-bottom: 20px; */
	height: 250px;
	max-width: 250px;
	width: 100%;
}

.date_panel {
	padding-bottom: 10px;
}

#diary-left-panel {
	float: left;
	width: 250px;
	margin-left: -250px;
}

#diary-right-panel {
	float: right;
	width: 300px;
	margin-right: -300px;
}

#diary-main-panel {
	padding-left: 10px;
	padding-right: 10px;
}

#diary_block {
	
}

.diary_page_full {
	overflow: hidden;
}

.diary_page_empty {
	font-size: 120%;
	text-align: center;
	color: #cccccc;
}

.rec {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	border: solid 1px #d8d8d8;
	overflow: hidden;
}

.diary-icon {
	float: left;
	padding: 2px 0px 0px 6px;
}

.time {
	display: inline-block;
	float: left;
	font-weight: bold;
	width: 45px;
	/*background: #ff00ff;*/
	cursor: pointer;
	padding: 2px 2px 0px;
}

.item {
	/*display: inline-block;*/
	/*float: left;*/
	padding-left: 5px;
	overflow: hidden;
	cursor: default;
}

.blood {
	background: #E6EEFF;
}

.meal {
	background: #FFFFDD;
}

.short_meal {
	background: #FFFFDD;
	/*background: #FFF4DD;*/
	color: #B00000;
}

.meal_input {
	/*background: #FFFFDD;*/
	border: 0px;
	/*font-size: 100%;*/
	margin-top: 8px;
}

.note {
	background: #D8FFD4;
}

.food {
	border-bottom: thin dotted #e8e8e8;
}

.food:hover {
	background: #fcfca0;
	/*cursor: pointer;*/
	/*width: auto;*/
}

.delete {
	color: #ffcccc;
	width: 10px;
	height: 10px;
	display: inline;
	cursor: pointer;
	margin-left: 10px;
	/*float: right;*/
}

.delete:hover {
	color: #ff0000;
	/*background: ff0000;*/
	/*font-weight: bold;*/
}

.bold {
	font-weight: bold;
}

#diary_info_column {
	float: right;
	width: 33%;
	/*height: 100%;*/
	background: #ffffff;
	overflow: hidden;
}

#diary_info {
	background: #fcfcfc;
	/*max-width: 220px;*/
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: solid 1px #cccccc;
	overflow: hidden;
	cursor: default;
}

#info_block_correct_table {
	display: none;
}

#diary_main {
	overflow: hidden;
	border: solid 1px #cccccc;
}

.positive {
	color: limegreen;
}

.negative {
	color: crimson;
}

.meal_add {
	background: #fcfcfc;
	background-position: center;
	background-image: url("../img/meal-add.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

.meal_add:hover {
	background: #f0f0f0;
	background-position: center;
	background-image: url("../img/meal-add.png");
	background-repeat: no-repeat;
}

.meal_table {
	cellpadding: 0;
	border-collapse: collapse;
}

.meal_adder {
	/*border-top: thin dotted #e8e8e8;*/
	
}

.ui-autocomplete {
	max-height: 260px;
	max-width: 317px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui-autocomplete {
	/*background: #4a4a4a;
	 border-radius: 10px;*/
	
}

.ui-menu .ui-menu-item a {
	/*background: white;
    /*height:10px;
	font-size:8px;*/
	font-family: "Arial";
	font-size: 16px;
	line-height: 1.3;
}

.ui-menu:hover .ui-menu-item:hover {
	/*background:red;*/
	
}

.ui-autocomplete a.ui-state-hover {
	background: red;
}

.diary-day-caption {
	/*padding-bottom: 2px;*/
	font-size: 110%;
	color: #cccccc;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}

/* =========================== TABLE =========================== */
.col_item {
	width: 99%;
	/*cursor: pointer;*/
}

.col_info {
	min-width: 70px;
	/*cursor: default;*/
	/*cursor: pointer;*/
	padding-right: 12px;
	text-align: right;
}

.col_delete {
	min-width: 30px;
	cursor: pointer;
	color: #808080;
	font-weight: bold;
	text-align: center;
}

.col_delete:hover {
	color: #ff0000;
}

/* =========================== EDITORS =========================== */
.image-editor-food {
	background-image: url("../img/editor-food.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 96px;
	height: 96px;
	float: left;
}

/* =========================== ETC =========================== */
.welcome_info {
	/*width: 70%;*/
	/*padding-top: 10px;*/
	
}

.button_new_rec {
	background-position: left;
	background-repeat: no-repeat;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	padding: 10px 0px 10px 55px;
	margin-bottom: 5px;
	cursor: pointer;
}

.button_new_rec:hover {
	background-color: #f0f0f0;
}

.button_new_blood {
	background-image: url("../img/Diary_New_Blood.png");
}

.button_new_ins {
	background-image: url("../img/Diary_New_Ins.png");
}

.button_new_meal {
	background-image: url("../img/Diary_New_Meal.png");
}

.button_new_note {
	background-image: url("../img/Diary_New_Note.png");
}